[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:lfendy/vim-fugitive.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:lfendy/vim-pathogen.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git@github.com:lfendy/command-t.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:lfendy/vim-coffee-script.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git@github.com:lfendy/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:lfendy/vim-ruby.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:lfendy/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:lfendy/snipmate.vim.git
[submodule "bundle/conque-term"]
	path = bundle/conque-term
	url = git@github.com:lfendy/conque-term.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git@github.com:lfendy/gundo.vim.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:lfendy/vim-scala.git
